
.verse {
	margin: 20px;
	margin-right: 60%;
	padding: 10px;
	background-color: rgb(42, 165, 213);

	font-family: 'MV Boli', sans-serif;
	font-size: 10;
	
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
.place{
	float: right;
	position: relative;
  	bottom: -2px;
	right: 10px;
	padding-right: 3px;

	font-family: 'Ink Free', sans-serif;

	background-color: rgb(215, 215, 215);

	border: 1px solid rgb(72, 76, 78);
	border-radius: 5px;
  }



